{% extends "admin/admin_base.html.twig" %}

{% block title %}Testimonials{% endblock %}

{% block content_header %}
    <h1>
        Testimonials
        <small>All Testimonials</small>
    </h1>
{% endblock content_header %}

{% block content %}
    <!-- Main content -->
    <section class="content">

        <div class="row">
            <a class="btn btn-app text-center">
                <i class="fa fa-plus"></i> New Testimonial
            </a>
        </div>
        <hr />
        <div class="row">
        {% for testimonial in testimonials %}
            <div class="col-xs-6 col-md-4">
                <div class="box box-solid">
                    <div class="box-header with-border">
                        <i class="fa fa-comments-o"></i>
                        <h3 class="box-title">{{ testimonial.owner|e }}</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <img class="profile-user-img img-responsive img-circle" src="../photos/{{ testimonial.photo }}" alt="User profile picture">
                        <p class="text-center">{{ testimonial.body|e }}</p>
                    </div>
                    <!-- /.box-body -->
                    <div class="box-footer">
                        <div class="col-xs-6 col-sm-6">
                                <a class="btn btn-app">
                                    <i class="fa fa-edit"></i> Edit
                                </a>
                            <!-- /.description-block -->
                        </div>
                        <div class="col-xs-6 col-sm-6">
                                <a class="btn btn-app">
                                    <i class="fa fa-close"></i> Delete
                                </a>
                            <!-- /.description-block -->
                        </div>
                    </div>
                </div>
                <!-- /.box -->
            </div>
        {% endfor %}
        </div>

    </section>
    <!-- /.content -->
{% endblock content %}
