<!-- Modal -->
<div class="modal fade" id="add-album" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel1">Add album</h4>
            </div>
            <div class="modal-body">

                <form method="post" id="add-album-form" action="{{ siteUrl('admin/photos/newalbum') }}">
                    <div class="form-group">
                        <label for="albumName">Album Name</label>
                        <input type="text" class="form-control" id="albumName" name="newalbum">
                    </div>

                    <!-- error message -->
                    <div class="callout callout-danger feedback-wrapper">
                        <h4 id="album-validation-error"></h4>
                    </div>


                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary" id="submit-album-btn">Create Album</button>
                    </div>

                </form>

            </div>

        </div>
    </div>
</div>