<!-- Modal -->
<div class="modal fade modal-danger" id="delete-beaf" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel4">Delete Before/After</h4>
            </div>
            <div class="modal-body">
                <form method="post" action="{{ siteUrl('admin/photos/beaf') }}">
                    <input type="hidden" name="_METHOD" value="DELETE"/>
                    <input type="hidden" name="beaf-id" value=""/>

                    <p>Are you sure you want to delete this "before and after"?</p>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Delete Before and After</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>