<!-- Modal -->
<div class="modal fade" id="edit-user-photo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Change Photo</h4>
            </div>
            <div class="modal-body">

                <img id="old-photo" src="" width="100%">

                <form method="post" id="change-photo-form" action="{{ siteUrl('admin/users/change-photo') }}" enctype="multipart/form-data">
                    <input type="hidden" id="editUserId" name="userId" value="">

                    <div class="form-group">
                        <label for="changeUserPhoto">Profile Photo</label>
                        <input type="file" id="changeUserPhoto" name="userPhoto">
                        <p class="help-block">Square photo for best results (min. 160 x 160)</p>
                    </div>
                    <input type="hidden" id="changePhotoId" name="userId" value="">

                    <!-- error message -->
                    <div class="callout callout-danger feedback-wrapper">
                        <h4 id="photo-validation-error"></h4>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Change Photo</button>
                    </div>

                    </form>

            </div>

        </div>
    </div>
</div>