element.style {
    background-color: rgb(59, 139, 200);
}

a.navbar-brand {
    padding: 15px 0px;
}

.post-grid-overlay {
    background-color: rgba(57,139,202, 0.78);
}

#times, #product {
    display: none;
}

.appt-list li {
    margin: 3px 2px;
}

input.form-control {
    background: white;
}

div#calendar {
    display: -webkit-inline-box;
}
.time-option:hover{
    cursor: pointer;
}
.time-disabled{
    background-color: #9f2114;
    color:  white;
}
.time-disabled:hover{
    cursor: not-allowed;
    background-color: #9f2114;
}
td.time-option.time-disabled:hover {
    background-color: #9f2114;
}

div#info-form input {
    text-align: center;
}