{% extends "public_base.twig" %}

{% block title %}
    {{ data.title }}
{% endblock title %}

{% block content %}
    <article>
        <section class="section">
            <div class="background-media" style="" data-start="background-position: 50% -31px" data-0-top-bottom="background-position: 50% 50px">
                <video autoplay="autoplay" loop="loop" style="width: 100%; height: 100%;" class="section-background-video">
                    <source type="video/mp4" src="http://theme-background-videos.s3.amazonaws.com/corporate.m4v" />
                    <source type="video/webm" src="http://theme-background-videos.s3.amazonaws.com/corporate.webm" /> </video>
            </div>
            <div class="background-overlay " style="background-color: rgba(57,139,202,0.8);"></div>
            <div class="container">
                <div class="row">
                    <div class="col-md-2  text-center"></div>
                    <div class="col-md-8  text-center">
                        <h1 class="text-default  element-top-70 element-bottom-0 text-light os-animation big default" data-os-animation="fadeIn" data-os-animation-delay="0s">
                            About us
                        </h1>
                        <div class="divider-border divider-border-center element-top-10 element-bottom-10 os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.1s" style="height:3px;">
                            <div class="divider-border-inner" style="background:#ffffff; width:60px;"></div>
                        </div>
                        <p class="lead text-center center text-light element-bottom-70" data-os-animation="none" data-os-animation-delay="0s">Nova interiors is a family owned and operated company that has been stablish in Las Vegas .  Serving homeowners and contractors with remodels and new construction projects. We specialize in custom floor and wall covering of all types, sizes and designs. </p>
                    </div>
                    <div class="col-md-2 "></div>
                </div>
            </div>
        </section>
        <section class="section">
            <div class="background-overlay"></div>
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <h2 class="text-left element-top-50 element-bottom-20 os-animation big default" data-os-animation="fadeIn" data-os-animation-delay="0s">
                            Our story
                        </h2>
                        <div class="divider-border divider-border-left element-top-10 element-bottom-10 os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.1s" style="height:3px;">
                            <div class="divider-border-inner" style="width:60px;"></div>
                        </div>
                        <div class="col-text-1 element-top-20 element-bottom-20 os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.1s">
                            <p class="text-center"> Nova interiors is a family owned and operated company that has been stablish in Las Vegas for the last ten years. Serving homeowners and contractors with remodels and new construction projects. We specialize in floor and wall coverings of all types, sizes and designs.

                                <br />We like to surround ourselves with good company </p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="figure os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.1s"> <span class="figure-image">
                            <img src="photos/nova_team.jpg" alt="nova-team"/>
                        </span> </div>
                    </div>
                </div>
            </div>
        </section>
        {#<section class="section">#}
            {#<div class="background-overlay" style="background-color: rgba(240,240,240,1);"></div>#}
            {#<div class="container">#}
                {#<div class="row">#}
                    {#<div class="col-md-6">#}
                        {#<h1 class="text-left element-top-50 element-bottom-20 os-animation normal default" data-os-animation="fadeInLeft" data-os-animation-delay="0s">#}
                            {#Why us?#}
                        {#</h1>#}
                        {#<div class="divider-border divider-border-left element-top-10 element-bottom-10 os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.1s" style="height:3px;">#}
                            {#<div class="divider-border-inner" style="width:60px;"></div>#}
                        {#</div>#}
                        {#<div class="col-text-1 element-top-20 os-animation" data-os-animation="fadeInLeft" data-os-animation-delay="0.1s">#}
                            {#<p> The more you tighten your grip, Tarkin, the more star systems will slip through your fingers. The more you tighten your grip, Tarkin, the more star systems will slip through your fingers. </p>#}
                        {#</div>#}
                        {#<div id="accordion_941" class="panel-group element-top-20 element-bottom-60 os-animation" data-os-animation="fadeInLeft" data-os-animation-delay="0.2s">#}
                            {#<div class="panel panel-primary">#}
                                {#<div class="panel-heading"> <a href="#group_640" class="accordion-toggle collapsed" data-parent="#accordion_941" data-toggle="collapse">#}
                                        {#What is our working process?#}
                                    {#</a> </div>#}
                                {#<div id="group_640" class="panel-collapse collapse ">#}
                                    {#<div class="panel-body">#}
                                        {#<div class="col-text-1" data-os-animation="none" data-os-animation-delay="0s">#}
                                            {#<p> Lambda is designed with attention to details. Our intention was to create a powerful theme that would to look cool and awesome. </p>#}
                                        {#</div>#}
                                    {#</div>#}
                                {#</div>#}
                            {#</div>#}
                            {#<div class="panel panel-primary">#}
                                {#<div class="panel-heading"> <a href="#group_873" class="accordion-toggle collapsed" data-parent="#accordion_941" data-toggle="collapse">#}
                                        {#How we make things happen?#}
                                    {#</a> </div>#}
                                {#<div id="group_873" class="panel-collapse collapse ">#}
                                    {#<div class="panel-body">#}
                                        {#<div class="col-text-1" data-os-animation="none" data-os-animation-delay="0s">#}
                                            {#<p> Lambda is designed with attention to details. Our intention was to create a powerful theme that would to look cool and awesome. </p>#}
                                        {#</div>#}
                                    {#</div>#}
                                {#</div>#}
                            {#</div>#}
                            {#<div class="panel panel-primary">#}
                                {#<div class="panel-heading"> <a href="#group_267" class="accordion-toggle collapsed" data-parent="#accordion_941" data-toggle="collapse">#}
                                        {#How we work with our clients?#}
                                    {#</a> </div>#}
                                {#<div id="group_267" class="panel-collapse collapse">#}
                                    {#<div class="panel-body">#}
                                        {#<div class="col-text-1" data-os-animation="none" data-os-animation-delay="0s">#}
                                            {#<p> Lambda is designed with attention to details. Our intention was to create a powerful theme that would to look cool and awesome. </p>#}
                                        {#</div>#}
                                    {#</div>#}
                                {#</div>#}
                            {#</div>#}
                            {#<div class="panel panel-primary">#}
                                {#<div class="panel-heading"> <a href="#group_892" class="accordion-toggle collapsed" data-parent="#accordion_941" data-toggle="collapse">#}
                                        {#What are our future plans?#}
                                    {#</a> </div>#}
                                {#<div id="group_892" class="panel-collapse collapse ">#}
                                    {#<div class="panel-body">#}
                                        {#<div class="col-text-1" data-os-animation="none" data-os-animation-delay="0s">#}
                                            {#<p> Lambda is designed with attention to details. Our intention was to create a powerful theme that would to look cool and awesome. </p>#}
                                        {#</div>#}
                                    {#</div>#}
                                {#</div>#}
                            {#</div>#}
                        {#</div>#}
                    {#</div>#}
                    {#<div class="col-md-6 ">#}
                        {#<h1 class="text-left element-top-50 element-bottom-20 os-animation normal default" data-os-animation="fadeInRight" data-os-animation-delay="0.1s">#}
                            {#Our Skills#}
                        {#</h1>#}
                        {#<div class="divider-border divider-border-left element-top-10 element-bottom-10 os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.1s" style="height:3px;">#}
                            {#<div class="divider-border-inner" style="width:60px;"></div>#}
                        {#</div>#}
                        {#<div class="col-text-1 element-top-20 element-bottom-20 os-animation" data-os-animation="fadeInRight" data-os-animation-delay="0.2s">#}
                            {#<p> The more you tighten your grip, Tarkin, the more star systems will slip through your fingers. I have traced the Rebel spies to her. Now she is my only link to finding their secret base. Alderaan? I&#8217;m not going to#}
                                {#Alderaan. I&#8217;ve got to go home. </p>#}
                        {#</div>#}
                        {#<div class="progress element-bottom-20 os-animation" data-os-animation="fadeInRight" data-os-animation-delay="0s">#}
                            {#<div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" style="width: 85%;"> <span>Marketing</span> </div>#}
                        {#</div>#}
                        {#<div class="progress element-bottom-20 os-animation" data-os-animation="fadeInRight" data-os-animation-delay="0s">#}
                            {#<div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="73" aria-valuemin="0" aria-valuemax="100" style="width: 73%;"> <span>Branding</span> </div>#}
                        {#</div>#}
                        {#<div class="progress element-bottom-20 os-animation" data-os-animation="fadeInRight" data-os-animation-delay="0s">#}
                            {#<div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="73" aria-valuemin="0" aria-valuemax="100" style="width: 73%;"> <span>Design</span> </div>#}
                        {#</div>#}
                        {#<div class="progress element-bottom-60 os-animation" data-os-animation="fadeInRight" data-os-animation-delay="0s">#}
                            {#<div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100" style="width: 65%;"> <span>Web apps</span> </div>#}
                        {#</div>#}
                    {#</div>#}
                {#</div>#}
            {#</div>#}
        {#</section>#}

        {#<section class="section">#}
            {#<div class="background-media" style="background-image: url('assets/images/corporate/c01.jpg'); background-repeat:no-repeat; background-size:cover; background-attachment:fixed; background-position: 50% 0%;" data-start="background-position: 50% -31px"#}
                 {#data-0-top-bottom="background-position: 50% 50px"></div>#}
            {#<div class="background-overlay" style="background-color: rgba(57,139,202,0.9);"></div>#}
            {#<div class="container-fullwidth container-vertical-middle">#}
                {#<div class="row vertical-middle">#}
                    {#<div class="col-md-3  text-center" style="background:rgba(0, 0, 0, 0.2);">#}
                        {#<div class="divider-wrapper">#}
                            {#<div class="visible-xs element-height-30"></div>#}
                            {#<div class="visible-sm element-height-30"></div>#}
                            {#<div class="visible-md element-height-30"></div>#}
                            {#<div class="visible-lg element-height-30"></div>#}
                        {#</div>#}
                        {#<div class="counter text-center text-light os-animation" data-count="101" data-format="(,ddd)" data-os-animation="fadeIn" data-os-animation-delay="0s"> <span class="value odometer-counter super hairline">0</span> </div>#}
                        {#<h3 class="text-default text-light os-animation normal bold" data-os-animation="fadeIn" data-os-animation-delay="0s">#}
                            {#Completed#}
                        {#</h3>#}
                        {#<h3 class="text-default text-light os-animation normal bold" data-os-animation="fadeIn" data-os-animation-delay="0s">#}
                            {#projects#}
                        {#</h3>#}
                        {#<div class="divider-wrapper">#}
                            {#<div class="visible-xs element-height-30"></div>#}
                            {#<div class="visible-sm element-height-30"></div>#}
                            {#<div class="visible-md element-height-30"></div>#}
                            {#<div class="visible-lg element-height-30"></div>#}
                        {#</div>#}
                    {#</div>#}
                    {#<div class="col-md-3 text-center" style="background:rgba(0, 0, 0, 0.15);">#}
                        {#<div class="divider-wrapper">#}
                            {#<div class="visible-xs element-height-30"></div>#}
                            {#<div class="visible-sm element-height-30"></div>#}
                            {#<div class="visible-md element-height-30"></div>#}
                            {#<div class="visible-lg element-height-30"></div>#}
                        {#</div>#}
                        {#<div class="counter text-center text-light os-animation" data-count="7,782" data-format="(,ddd)" data-os-animation="fadeIn" data-os-animation-delay="0.3s"> <span class="value odometer-counter super hairline">0</span> </div>#}
                        {#<h3 class="text-light os-animation normal bold" data-os-animation="fadeIn" data-os-animation-delay="0.3s">#}
                            {#Happy#}
                        {#</h3>#}
                        {#<h3 class="text-light os-animation normal bold" data-os-animation="fadeIn" data-os-animation-delay="0.3s">#}
                            {#customers#}
                        {#</h3>#}
                        {#<div class="divider-wrapper">#}
                            {#<div class="visible-xs element-height-30"></div>#}
                            {#<div class="visible-sm element-height-30"></div>#}
                            {#<div class="visible-md element-height-30"></div>#}
                            {#<div class="visible-lg element-height-30"></div>#}
                        {#</div>#}
                    {#</div>#}
                    {#<div class="col-md-3  text-center small-screen-default" style="background:rgba(0, 0, 0, 0.1);">#}
                        {#<div class="divider-wrapper" style="visibility:hidden;background-color:#FFFFF">#}
                            {#<div class="visible-xs element-height-30"></div>#}
                            {#<div class="visible-sm element-height-30"></div>#}
                            {#<div class="visible-md element-height-30"></div>#}
                            {#<div class="visible-lg element-height-30"></div>#}
                        {#</div>#}
                        {#<div class="counter text-center text-light os-animation" data-count="1580" data-format="(,ddd)" data-os-animation="fadeIn" data-os-animation-delay="0.6s"> <span class="value odometer-counter super hairline">0</span> </div>#}
                        {#<h3 class="text-light os-animation normal bold" data-os-animation="fadeIn" data-os-animation-delay="0.6s">#}
                            {#Lines#}
                        {#</h3>#}
                        {#<h3 class="text-light os-animation normal bold" data-os-animation="fadeIn" data-os-animation-delay="0.6s">#}
                            {#per hour#}
                        {#</h3>#}
                        {#<div class="divider-wrapper">#}
                            {#<div class="visible-xs element-height-30"></div>#}
                            {#<div class="visible-sm element-height-30"></div>#}
                            {#<div class="visible-md element-height-30"></div>#}
                            {#<div class="visible-lg element-height-30"></div>#}
                        {#</div>#}
                    {#</div>#}
                    {#<div class="col-md-3 text-center" style="background:rgba(0, 0, 0, 0.05);">#}
                        {#<div class="divider-wrapper">#}
                            {#<div class="visible-xs element-height-30"></div>#}
                            {#<div class="visible-sm element-height-30"></div>#}
                            {#<div class="visible-md element-height-30"></div>#}
                            {#<div class="visible-lg element-height-30"></div>#}
                        {#</div>#}
                        {#<div class="counter text-center text-light os-animation" data-count="80" data-format="(,ddd)" data-os-animation="fadeIn" data-os-animation-delay="0.9s"> <span class="value odometer-counter super hairline">0</span> </div>#}
                        {#<h3 class="text-light os-animation normal bold" data-os-animation="fadeIn" data-os-animation-delay="0.9s">#}
                            {#Coffee#}
                        {#</h3>#}
                        {#<h3 class="text-light os-animation normal bold" data-os-animation="fadeIn" data-os-animation-delay="0.9s">#}
                            {#cups#}
                        {#</h3>#}
                        {#<div class="divider-wrapper">#}
                            {#<div class="visible-xs element-height-30"></div>#}
                            {#<div class="visible-sm element-height-30"></div>#}
                            {#<div class="visible-md element-height-30"></div>#}
                            {#<div class="visible-lg element-height-30"></div>#}
                        {#</div>#}
                    {#</div>#}
                {#</div>#}
            {#</div>#}
        {#</section>#}

        <section class="section">
            <div class="background-overlay grid-overlay-0"></div>
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="text-center element-top-70 os-animation big default" data-os-animation="fadeIn" data-os-animation-delay="0s">
                            Our Mission
                        </h1>
                        <div class="divider-border divider-border-center element-top-10 element-bottom-10 os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.1s" style="height:3px;">
                            <div class="divider-border-inner" style="background:#388AC9; width:60px;"></div>
                        </div>
                        <p class="lead text-center center element-bottom-100 os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.2s"> To perform for our customers, the highest level of quality craftsmanship at competitive prices. To ensure the longevity of our company through repeat and referral business achieved by customer satisfaction in all areas including timelines, attention to detail and service-minded attitudes. To maintain the highest levels of professionalism, integrity, honesty and fairness in our relationships with our suppliers, contractors, homeowners and professional associates.</p>
                        {#<div class="row">#}
                        {#<div class="col-md-6">#}
                        {#<ul class="features-list element-top-90 element-bottom-20" data-os-animation="none" data-os-animation-delay="0s">#}
                        {#<li class="element-top-20 element-bottom-20 os-animation" data-os-animation="fadeInLeft" data-os-animation-delay="0s">#}
                        {#<div class="features-list-icon box-animate" data-animation="" style="background-color:#388AC9;"> <i class="icon-heart" style="color:#ffffff;"></i> </div>#}
                        {#<h3>#}
                        {#Awesome design#}
                        {#</h3>#}
                        {#<p> Lambda is designed with attention to details. Our intention is to create a theme that would to look cool and awesome. </p>#}
                        {#</li>#}
                        {#<li class="element-top-20 element-bottom-20 os-animation" data-os-animation="fadeInLeft" data-os-animation-delay="0.1s">#}
                        {#<div class="features-list-icon box-animate" data-animation="" style="background-color:#388AC9;"> <i class="icon-map" style="color:#ffffff;"></i> </div>#}
                        {#<h3>#}
                        {#Ultra flexible#}
                        {#</h3>#}
                        {#<p> Lambda is ultra flexible and lets you create stunning pages easily for any kind of site out of the box. Get started now. </p>#}
                        {#</li>#}
                        {#<li class="element-top-20 element-bottom-20 os-animation" data-os-animation="fadeInLeft" data-os-animation-delay="0.2s">#}
                        {#<div class="features-list-icon box-animate" data-animation="" style="background-color:#388AC9;"> <i class="icon-cloud" style="color:#ffffff;"></i> </div>#}
                        {#<h3>#}
                        {#SEO optimised#}
                        {#</h3>#}
                        {#<p> Basic search engine optimisation is fundamental. Lambda makes sure that your website will be always be accessible. </p>#}
                        {#</li>#}
                        {#</ul>#}
                        {#</div>#}
                        {#<div class="col-md-6">#}
                        {#<ul class="features-list element-top-90 element-bottom-20" data-os-animation="none" data-os-animation-delay="0s">#}
                        {#<li class="element-top-20 element-bottom-20 os-animation" data-os-animation="fadeInRight" data-os-animation-delay="0s">#}
                        {#<div class="features-list-icon box-animate" data-animation="" style="background-color:#388AC9;"> <i class="icon-monitor" style="color:#ffffff;"></i> </div>#}
                        {#<h3>#}
                        {#Responsive design#}
                        {#</h3>#}
                        {#<p> Lambda is designed to look cool on any device from mobile and tablets to desktop computers and also on retina screens. </p>#}
                        {#</li>#}
                        {#<li class="element-top-20 element-bottom-20 os-animation" data-os-animation="fadeInRight" data-os-animation-delay="0.1s">#}
                        {#<div class="features-list-icon box-animate" data-animation="" style="background-color:#388AC9;"> <i class="icon-repeat" style="color:#ffffff;"></i> </div>#}
                        {#<h3>#}
                        {#Free updates#}
                        {#</h3>#}
                        {#<p> With Lambda you get a free updates forever. Improvements and features will be added to make the theme future proof. </p>#}
                        {#</li>#}
                        {#<li class="element-top-20 element-bottom-90 os-animation" data-os-animation="fadeInRight" data-os-animation-delay="0.1s">#}
                        {#<div class="features-list-icon box-animate" data-animation="" style="background-color:#388AC9;"> <i class="icon-eye" style="color:#ffffff;"></i> </div>#}
                        {#<h3>#}
                        {#Stunning pages#}
                        {#</h3>#}
                        {#<p> Create stunning pages which look great on any device. Clean HTML5 and CSS, beautifully coded &amp; loads of features. </p>#}
                        {#</li>#}
                        {#</ul>#}
                        {#</div>#}
                        {#</div>#}
                    </div>
                </div>
            </div>
        </section>
        <section class="section">
            <div class="background-overlay grid-overlay-0" style="background-color: rgba(255,255,255,1);"></div>
            <div class="container-fullwidth">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="text-center element-top-70 os-animation big" data-os-animation="fadeIn" data-os-animation-delay="0s">
                            Our Clients
                        </h1>
                        <div class="divider-border divider-border-center element-top-10 element-bottom-10 os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.1s" style="height:3px;">
                            <div class="divider-border-inner" style="width:60px;"> </div>
                        </div>
                        <p class="lead text-center center element-bottom-40 os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.2s"> We work close with our clients projets
                            <br> to provide a unique experience</p>
                        <div class="flexslider flex-controls-bottom element-top-20 element-bottom-60" data-flex-animation="slide" data-flex-captionhorizontal="left" data-flex-controls="hide" data-flex-controlsalign="center"
                             data-flex-controlsposition="inside" data-flex-controlsvertical="bottom" data-flex-directions="hide" data-flex-duration="600" data-flex-itemwidth="258" data-flex-sliderdirection="horizontal" data-flex-slideshow="true" data-flex-speed="7000"
                             data-os-animation="none" data-os-animation-delay="0s" id="flexslider-74">
                            <ul class="slides">

                                <li>
                                    <figure><a href="http://www.prosourcewholesale.com/lasvegas" target="_blank"><img alt="client1" data-original-title="Prosource" data-toggle="tooltip" height="200" src="photos/partner1.gif" width="400"> </a> </figure>
                                </li>
                                <li>
                                    <figure> <a href="http://www.marbleexpresslv.com/" target="_blank"><img alt="client2" data-original-title="Marble-Express" data-toggle="tooltip" height="200" src="photos/partner2.jpeg" width="400"> </a> </figure>
                                </li>
                                <li>
                                    <figure> <a href="http://www.daltile.com/" target="_blank"><img alt="client5" data-original-title="Daltile" data-toggle="tooltip" height="200" src="photos/partner3.jpeg" width="400"></a>  </figure>
                                </li>
                                <li>
                                    <figure> <a href="http://www.flooringdepotlv.com/" target="_blank"><img alt="client4" data-original-title="Flooring-Depot" data-toggle="tooltip" height="200" src="photos/partner4.gif"></a>  </figure>
                                </li>
                                <li>
                                    <figure><a href="http://www.prosourcewholesale.com/lasvegas" target="_blank">  <img alt="client1" data-original-title="Prosource" data-toggle="tooltip" height="200" src="photos/partner1.gif" width="400"> </a> </figure>
                                </li>
                                <li>
                                    <figure> <a href="http://www.marbleexpresslv.com/" target="_blank"><img alt="client2" data-original-title="Marble-Express" data-toggle="tooltip" height="200" src="photos/partner2.jpeg" width="400"> </a></figure>
                                </li>
                                <li>
                                    <figure><a href="http://www.daltile.com/" target="_blank"> <img alt="client5" data-original-title="Daltile" data-toggle="tooltip" height="200" src="photos/partner3.jpeg" width="400"></a> </figure>
                                </li>
                                <li>
                                    <figure> <a href="http://www.flooringdepotlv.com/" target="_blank"><img alt="client4" data-original-title="Flooring-Depot" data-toggle="tooltip" height="200" src="photos/partner4.gif"></a>  </figure>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </article>
{% endblock content %}