{% extends "public_base.twig" %}

{% block title %}
    {{ data.title }}
{% endblock title %}

{% block content %}
    <article>
        <section class="section">
            <div class="background-media" style="" data-start="background-position: 50% -31px" data-0-top-bottom="background-position: 50% 50px">
                <video autoplay="autoplay" loop="loop" style="width: 100%; height: 100%;" class="section-background-video">
                    <source type="video/mp4" src="http://theme-background-videos.s3.amazonaws.com/corporate.m4v" />
                    <source type="video/webm" src="http://theme-background-videos.s3.amazonaws.com/corporate.webm" /> </video>
            </div>
            <div class="background-overlay " style="background-color: rgba(57,139,202,0.8);"></div>
            <div class="container">
                <div class="row">
                    <div class="col-md-2  text-center"></div>
                    <div class="col-md-8  text-center">
                        <h1 class="text-default  element-top-70 element-bottom-0 text-light os-animation big default" data-os-animation="fadeIn" data-os-animation-delay="0s">
                            About us
                        </h1>
                        <div class="divider-border divider-border-center element-top-10 element-bottom-10 os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.1s" style="height:3px;">
                            <div class="divider-border-inner" style="background:#ffffff; width:60px;"></div>
                        </div>
                        <p class="lead text-center center text-light element-bottom-70" data-os-animation="none" data-os-animation-delay="0s"> We are a corporate web design agency who are passionate with our pixels.
                            <br /> We specialise in WordPress development and we create pixel perfect themes. </p>
                    </div>
                    <div class="col-md-2 "></div>
                </div>
            </div>
        </section>
        <section class="section">
            <div class="background-overlay"></div>
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <h2 class="text-left element-top-50 element-bottom-20 os-animation big default" data-os-animation="fadeIn" data-os-animation-delay="0s">
                            Our story
                        </h2>
                        <div class="divider-border divider-border-left element-top-10 element-bottom-10 os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.1s" style="height:3px;">
                            <div class="divider-border-inner" style="width:60px;"></div>
                        </div>
                        <div class="col-text-1 element-top-20 element-bottom-20 os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.1s">
                            <p> The more you tighten your grip, Tarkin, the more star systems will slip through your fingers. The more you tighten your grip, Tarkin, the more star systems will slip through your fingers. What good is a reward if you ain&#8217;t
                                around to use it? Besides, attacking that battle station ain&#8217;t my idea of courage. It&#8217;s more like…suicide. </p>
                        </div>
                        <ul class="skills-list normal element-top-20 element-bottom-20 os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.3s">
                            <li> Creating brand identity </li>
                            <li> Providing Web Design Services </li>
                            <li> Search Engine Optimisation </li>
                            <li> Logo Design and print design </li>
                            <li> Mobile and tablet applications </li>
                            <li> 3D model renderings </li>
                        </ul>
                    </div>
                    <div class="col-md-6">
                        <div class="figure os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.1s"> <span class="figure-image">
                            <img src="assets/images/corporate/team-notinclude.jpg" alt="team-notinclude"/>
                        </span> </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="section">
            <div class="background-overlay" style="background-color: rgba(240,240,240,1);"></div>
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <h1 class="text-left element-top-50 element-bottom-20 os-animation normal default" data-os-animation="fadeInLeft" data-os-animation-delay="0s">
                            Why us?
                        </h1>
                        <div class="divider-border divider-border-left element-top-10 element-bottom-10 os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.1s" style="height:3px;">
                            <div class="divider-border-inner" style="width:60px;"></div>
                        </div>
                        <div class="col-text-1 element-top-20 os-animation" data-os-animation="fadeInLeft" data-os-animation-delay="0.1s">
                            <p> The more you tighten your grip, Tarkin, the more star systems will slip through your fingers. The more you tighten your grip, Tarkin, the more star systems will slip through your fingers. </p>
                        </div>
                        <div id="accordion_941" class="panel-group element-top-20 element-bottom-60 os-animation" data-os-animation="fadeInLeft" data-os-animation-delay="0.2s">
                            <div class="panel panel-primary">
                                <div class="panel-heading"> <a href="#group_640" class="accordion-toggle collapsed" data-parent="#accordion_941" data-toggle="collapse">
                                        What is our working process?
                                    </a> </div>
                                <div id="group_640" class="panel-collapse collapse ">
                                    <div class="panel-body">
                                        <div class="col-text-1" data-os-animation="none" data-os-animation-delay="0s">
                                            <p> Lambda is designed with attention to details. Our intention was to create a powerful theme that would to look cool and awesome. </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-primary">
                                <div class="panel-heading"> <a href="#group_873" class="accordion-toggle collapsed" data-parent="#accordion_941" data-toggle="collapse">
                                        How we make things happen?
                                    </a> </div>
                                <div id="group_873" class="panel-collapse collapse ">
                                    <div class="panel-body">
                                        <div class="col-text-1" data-os-animation="none" data-os-animation-delay="0s">
                                            <p> Lambda is designed with attention to details. Our intention was to create a powerful theme that would to look cool and awesome. </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-primary">
                                <div class="panel-heading"> <a href="#group_267" class="accordion-toggle collapsed" data-parent="#accordion_941" data-toggle="collapse">
                                        How we work with our clients?
                                    </a> </div>
                                <div id="group_267" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <div class="col-text-1" data-os-animation="none" data-os-animation-delay="0s">
                                            <p> Lambda is designed with attention to details. Our intention was to create a powerful theme that would to look cool and awesome. </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-primary">
                                <div class="panel-heading"> <a href="#group_892" class="accordion-toggle collapsed" data-parent="#accordion_941" data-toggle="collapse">
                                        What are our future plans?
                                    </a> </div>
                                <div id="group_892" class="panel-collapse collapse ">
                                    <div class="panel-body">
                                        <div class="col-text-1" data-os-animation="none" data-os-animation-delay="0s">
                                            <p> Lambda is designed with attention to details. Our intention was to create a powerful theme that would to look cool and awesome. </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 ">
                        <h1 class="text-left element-top-50 element-bottom-20 os-animation normal default" data-os-animation="fadeInRight" data-os-animation-delay="0.1s">
                            Our Skills
                        </h1>
                        <div class="divider-border divider-border-left element-top-10 element-bottom-10 os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.1s" style="height:3px;">
                            <div class="divider-border-inner" style="width:60px;"></div>
                        </div>
                        <div class="col-text-1 element-top-20 element-bottom-20 os-animation" data-os-animation="fadeInRight" data-os-animation-delay="0.2s">
                            <p> The more you tighten your grip, Tarkin, the more star systems will slip through your fingers. I have traced the Rebel spies to her. Now she is my only link to finding their secret base. Alderaan? I&#8217;m not going to
                                Alderaan. I&#8217;ve got to go home. </p>
                        </div>
                        <div class="progress element-bottom-20 os-animation" data-os-animation="fadeInRight" data-os-animation-delay="0s">
                            <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" style="width: 85%;"> <span>Marketing</span> </div>
                        </div>
                        <div class="progress element-bottom-20 os-animation" data-os-animation="fadeInRight" data-os-animation-delay="0s">
                            <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="73" aria-valuemin="0" aria-valuemax="100" style="width: 73%;"> <span>Branding</span> </div>
                        </div>
                        <div class="progress element-bottom-20 os-animation" data-os-animation="fadeInRight" data-os-animation-delay="0s">
                            <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="73" aria-valuemin="0" aria-valuemax="100" style="width: 73%;"> <span>Design</span> </div>
                        </div>
                        <div class="progress element-bottom-60 os-animation" data-os-animation="fadeInRight" data-os-animation-delay="0s">
                            <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100" style="width: 65%;"> <span>Web apps</span> </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="section">
            <div class="background-overlay"></div>
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="text-center element-top-70 text-normal os-animation big default" data-os-animation="fadeIn" data-os-animation-delay="0s" data-start="opacity:1" data-center="opacity:1" data-0-top-bottom="opacity:0">
                            Our investors
                        </h1>
                        <div class="divider-border divider-border-center element-top-10 element-bottom-10 os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.1s" style="height:3px;">
                            <div class="divider-border-inner" style="width:60px;"></div>
                        </div>
                        <p class="lead text-center center text-normal element-bottom-40 os-animation " data-os-animation="fadeIn" data-os-animation-delay="0.2s"> Our investors bring a broad wealth of knowledge and experience about our industry.
                            <br /> Your business can benefit from this. </p>
                        <div class="row staff-list-container list-container element-bottom-60">
                            <div class="figure col-md-3 fade-in element-bottom-20 figcaption-bottom text-left fade-in os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.1s">
                                <div class="figure-image"> <img src="assets/images/corporate/team04-notinclude.jpg" alt="Shirley King">
                                    <div class="figure-overlay">
                                        <div class="figure-overlay-container">
                                            <div class="figure-caption text-center">
                                                <ul class="figure-overlay-icons social-icons social-simple">
                                                    <li>
                                                        <a href="#" target="_self"> <i class="fa fa-facebook"></i> </a>
                                                    </li>
                                                    <li>
                                                        <a href="#" target="_self"> <i class="fa fa-twitter"></i> </a>
                                                    </li>
                                                    <li>
                                                        <a href="#" target="_self"> <i class="fa fa-dribbble"></i> </a>
                                                    </li>
                                                    <li>
                                                        <a href="#" target="_self"> <i class="fa fa-behance"></i> </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="figure-caption text-left">
                                    <h3 class="figure-caption-title">
                                        <strong>Shirley King</strong>
                                        <span>Designer</span>
                                    </h3>
                                    <p class="figure-caption-description"> Objectively innovate empowered manufactured products whereas parallel platforms. Holisticly testing procedures. </p>
                                </div>
                            </div>
                            <div class="figure col-md-3 fade-in element-bottom-20 figcaption-bottom text-left fade-in os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.2s">
                                <div class="figure-image"> <img src="assets/images/corporate/team06-notinclude.jpg" alt="Dorothy Lewis">
                                    <div class="figure-overlay grid-overlay-0">
                                        <div class="figure-overlay-container">
                                            <div class="figure-caption text-center">
                                                <ul class="figure-overlay-icons social-icons social-simple">
                                                    <li>
                                                        <a href="#" target="_self"> <i class="fa fa-facebook"></i> </a>
                                                    </li>
                                                    <li>
                                                        <a href="#" target="_self"> <i class="fa fa-twitter"></i> </a>
                                                    </li>
                                                    <li>
                                                        <a href="#" target="_self"> <i class="fa fa-behance"></i> </a>
                                                    </li>
                                                    <li>
                                                        <a href="#" target="_self"> <i class="fa fa-dribbble"></i> </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="figure-caption text-left">
                                    <h3 class="figure-caption-title">
                                        <strong>Dorothy Lewis</strong>
                                        <span>Designer</span>
                                    </h3>
                                    <p class="figure-caption-description"> Phosfluorescently engage worldwide methodologies with web-enabled technology. Interactively coordinate. </p>
                                </div>
                            </div>
                            <div class="figure col-md-3 fade-in element-bottom-20 figcaption-bottom text-left fade-in os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.3s">
                                <div class="figure-image"> <img src="assets/images/corporate/team09-notinclude.jpg" alt="Carl Barnes">
                                    <div class="figure-overlay grid-overlay-0">
                                        <div class="figure-overlay-container">
                                            <div class="figure-caption text-center">
                                                <ul class="figure-overlay-icons social-icons social-simple">
                                                    <li>
                                                        <a href="#" target="_self"> <i class="fa fa-facebook"></i> </a>
                                                    </li>
                                                    <li>
                                                        <a href="#" target="_self"> <i class="fa fa-behance"></i> </a>
                                                    </li>
                                                    <li>
                                                        <a href="#" target="_self"> <i class="fa fa-dribbble"></i> </a>
                                                    </li>
                                                    <li>
                                                        <a href="#" target="_self"> <i class="fa fa-twitter"></i> </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="figure-caption text-left">
                                    <h3 class="figure-caption-title">
                                        <strong>Carl Barnes</strong>
                                        <span>Designer</span>
                                    </h3>
                                    <p class="figure-caption-description"> Interactively procrastinate high-payoff content without backward-compatible data. Quickly cultivate processes. </p>
                                </div>
                            </div>
                            <div class="figure col-md-3 fade-in element-bottom-20 figcaption-bottom text-left fade-in os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.4s">
                                <div class="figure-image"> <img src="assets/images/corporate/team13-notinclude.jpg" alt="Joe Ross">
                                    <div class="figure-overlay grid-overlay-0">
                                        <div class="figure-overlay-container">
                                            <div class="figure-caption text-center">
                                                <ul class="figure-overlay-icons social-icons social-simple">
                                                    <li>
                                                        <a href="#" target="_self"> <i class="fa fa-dribbble"></i> </a>
                                                    </li>
                                                    <li>
                                                        <a href="#" target="_self"> <i class="fa fa-behance"></i> </a>
                                                    </li>
                                                    <li>
                                                        <a href="#" target="_self"> <i class="fa fa-twitter"></i> </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="figure-caption text-left">
                                    <h3 class="figure-caption-title">
                                        <strong>Joe Ross</strong>
                                        <span>Designer</span>
                                    </h3>
                                    <p class="figure-caption-description"> Synergistically evolve 2.0 technologies rather than just in time initiatives. Quickly deploy strategic networks. </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="section">
            <div class="background-media" style="background-image: url('assets/images/corporate/c01.jpg'); background-repeat:no-repeat; background-size:cover; background-attachment:fixed; background-position: 50% 0%;" data-start="background-position: 50% -31px"
                 data-0-top-bottom="background-position: 50% 50px"></div>
            <div class="background-overlay" style="background-color: rgba(57,139,202,0.9);"></div>
            <div class="container-fullwidth container-vertical-middle">
                <div class="row vertical-middle">
                    <div class="col-md-3  text-center" style="background:rgba(0, 0, 0, 0.2);">
                        <div class="divider-wrapper">
                            <div class="visible-xs element-height-30"></div>
                            <div class="visible-sm element-height-30"></div>
                            <div class="visible-md element-height-30"></div>
                            <div class="visible-lg element-height-30"></div>
                        </div>
                        <div class="counter text-center text-light os-animation" data-count="101" data-format="(,ddd)" data-os-animation="fadeIn" data-os-animation-delay="0s"> <span class="value odometer-counter super hairline">0</span> </div>
                        <h3 class="text-default text-light os-animation normal bold" data-os-animation="fadeIn" data-os-animation-delay="0s">
                            Completed
                        </h3>
                        <h3 class="text-default text-light os-animation normal bold" data-os-animation="fadeIn" data-os-animation-delay="0s">
                            projects
                        </h3>
                        <div class="divider-wrapper">
                            <div class="visible-xs element-height-30"></div>
                            <div class="visible-sm element-height-30"></div>
                            <div class="visible-md element-height-30"></div>
                            <div class="visible-lg element-height-30"></div>
                        </div>
                    </div>
                    <div class="col-md-3 text-center" style="background:rgba(0, 0, 0, 0.15);">
                        <div class="divider-wrapper">
                            <div class="visible-xs element-height-30"></div>
                            <div class="visible-sm element-height-30"></div>
                            <div class="visible-md element-height-30"></div>
                            <div class="visible-lg element-height-30"></div>
                        </div>
                        <div class="counter text-center text-light os-animation" data-count="7,782" data-format="(,ddd)" data-os-animation="fadeIn" data-os-animation-delay="0.3s"> <span class="value odometer-counter super hairline">0</span> </div>
                        <h3 class="text-light os-animation normal bold" data-os-animation="fadeIn" data-os-animation-delay="0.3s">
                            Happy
                        </h3>
                        <h3 class="text-light os-animation normal bold" data-os-animation="fadeIn" data-os-animation-delay="0.3s">
                            customers
                        </h3>
                        <div class="divider-wrapper">
                            <div class="visible-xs element-height-30"></div>
                            <div class="visible-sm element-height-30"></div>
                            <div class="visible-md element-height-30"></div>
                            <div class="visible-lg element-height-30"></div>
                        </div>
                    </div>
                    <div class="col-md-3  text-center small-screen-default" style="background:rgba(0, 0, 0, 0.1);">
                        <div class="divider-wrapper" style="visibility:hidden;background-color:#FFFFF">
                            <div class="visible-xs element-height-30"></div>
                            <div class="visible-sm element-height-30"></div>
                            <div class="visible-md element-height-30"></div>
                            <div class="visible-lg element-height-30"></div>
                        </div>
                        <div class="counter text-center text-light os-animation" data-count="1580" data-format="(,ddd)" data-os-animation="fadeIn" data-os-animation-delay="0.6s"> <span class="value odometer-counter super hairline">0</span> </div>
                        <h3 class="text-light os-animation normal bold" data-os-animation="fadeIn" data-os-animation-delay="0.6s">
                            Lines
                        </h3>
                        <h3 class="text-light os-animation normal bold" data-os-animation="fadeIn" data-os-animation-delay="0.6s">
                            per hour
                        </h3>
                        <div class="divider-wrapper">
                            <div class="visible-xs element-height-30"></div>
                            <div class="visible-sm element-height-30"></div>
                            <div class="visible-md element-height-30"></div>
                            <div class="visible-lg element-height-30"></div>
                        </div>
                    </div>
                    <div class="col-md-3 text-center" style="background:rgba(0, 0, 0, 0.05);">
                        <div class="divider-wrapper">
                            <div class="visible-xs element-height-30"></div>
                            <div class="visible-sm element-height-30"></div>
                            <div class="visible-md element-height-30"></div>
                            <div class="visible-lg element-height-30"></div>
                        </div>
                        <div class="counter text-center text-light os-animation" data-count="80" data-format="(,ddd)" data-os-animation="fadeIn" data-os-animation-delay="0.9s"> <span class="value odometer-counter super hairline">0</span> </div>
                        <h3 class="text-light os-animation normal bold" data-os-animation="fadeIn" data-os-animation-delay="0.9s">
                            Coffee
                        </h3>
                        <h3 class="text-light os-animation normal bold" data-os-animation="fadeIn" data-os-animation-delay="0.9s">
                            cups
                        </h3>
                        <div class="divider-wrapper">
                            <div class="visible-xs element-height-30"></div>
                            <div class="visible-sm element-height-30"></div>
                            <div class="visible-md element-height-30"></div>
                            <div class="visible-lg element-height-30"></div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="section">
            <div class="background-overlay " style="background-color: rgba(255,255,255,1);"></div>
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="text-center  element-top-70 os-animation big default" data-os-animation="fadeIn" data-os-animation-delay="0s">
                            Our directors
                        </h1>
                        <div class="divider-border divider-border-center element-top-10 element-bottom-10 os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.1s" style="height:3px;">
                            <div class="divider-border-inner" style="width:60px;"></div>
                        </div>
                        <p class="lead text-center center element-bottom-40 os-animation " data-os-animation="fadeIn" data-os-animation-delay="0.2s"> Time to meet our team of technology and business professionals.
                            <br /> Making all the hard decisions keeping the delivery on time </p>
                        <div class="row staff-list-container list-container element-bottom-60">
                            <div class="figure col-md-4 fade-in element-bottom-20 figcaption-bottom text-left fade-in os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.1s">
                                <div class="figure-image"> <img src="assets/images/corporate/team02-notinclude.jpg" alt="Amanda Hayes">
                                    <div class="figure-overlay grid-overlay-0">
                                        <div class="figure-overlay-container">
                                            <div class="figure-caption text-center">
                                                <ul class="figure-overlay-icons social-icons social-simple">
                                                    <li>
                                                        <a href="#" target="_self"> <i class="fa fa-facebook"></i> </a>
                                                    </li>
                                                    <li>
                                                        <a href="#" target="_self"> <i class="fa fa-twitter"></i> </a>
                                                    </li>
                                                    <li>
                                                        <a href="#" target="_self"> <i class="fa fa-google-plus"></i> </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="figure-caption text-left">
                                    <h3 class="figure-caption-title">
                                        <strong>Amanda Hayes</strong>
                                        <span>Director</span>
                                    </h3>
                                    <p class="figure-caption-description"> Efficiently unleash cross-media information without cross-media value. Quickly maximize deliverables schemas. </p>
                                </div>
                            </div>
                            <div class="figure col-md-4 fade-in element-top-0 element-bottom-20 figcaption-bottom text-left fade-in os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.2s">
                                <div class="figure-image"> <img src="assets/images/corporate/team08-notinclude.jpg" alt="Diane Griffin">
                                    <div class="figure-overlay grid-overlay-0">
                                        <div class="figure-overlay-container">
                                            <div class="figure-caption text-center">
                                                <ul class="figure-overlay-icons social-icons social-simple">
                                                    <li>
                                                        <a href="#" target="_self"> <i class="fa fa-twitter"></i> </a>
                                                    </li>
                                                    <li>
                                                        <a href="#" target="_self"> <i class="fa fa-google-plus"></i> </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="figure-caption text-left">
                                    <h3 class="figure-caption-title">
                                        <strong>Diane Griffin</strong>
                                        <span>Director</span>
                                    </h3>
                                    <p class="figure-caption-description"> Credibly innovate granular internal sources whereas high standards in web-readiness. With optimal wise networks. </p>
                                </div>
                            </div>
                            <div class="figure col-md-4 fade-in element-bottom-20 figcaption-bottom text-left fade-in os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.3s">
                                <div class="figure-image"> <img src="assets/images/corporate/team10-notinclude.jpg" alt="Norma Brooks">
                                    <div class="figure-overlay grid-overlay-0">
                                        <div class="figure-overlay-container">
                                            <div class="figure-caption text-center">
                                                <ul class="figure-overlay-icons social-icons social-simple">
                                                    <li>
                                                        <a href="#" target="_self"> <i class="fa fa-twitter"></i> </a>
                                                    </li>
                                                    <li>
                                                        <a href="#" target="_self"> <i class="fa fa-google-plus"></i> </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="figure-caption text-left">
                                    <h3 class="figure-caption-title">
                                        <strong>Norma Brooks</strong>
                                        <span>Director</span>
                                    </h3>
                                    <p class="figure-caption-description"> Credibly reintermediate backend ideas for cross-platform models. Continually reintermediate integrated processes. </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="section">
            <div class="background-overlay " style="background-color: rgba(171,171,171,0.4);"></div>
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="text-center element-top-70 os-animation big default" data-os-animation="fadeIn" data-os-animation-delay="0s">
                            Our partners
                        </h1>
                        <div class="divider-border divider-border-center element-top-10 element-bottom-10 os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.1s" style="height:3px;">
                            <div class="divider-border-inner" style="width:60px;"></div>
                        </div>
                        <p class="lead text-center center element-bottom-40 os-animation " data-os-animation="fadeIn" data-os-animation-delay="0.2s"> We work with some of the best in the business.
                            <br /> Professional services delivered on time. </p>
                        <div id="flexslider-72" class="flexslider flex-controls-bottom element-bottom-70" data-flex-slideshow=true data-flex-sliderdirection=horizontal data-flex-speed=7000 data-flex-animation=slide
                             data-flex-directions=show data-flex-controls=hide data-flex-controlsalign=center data-flex-controlsvertical=bottom data-flex-controlsposition=inside data-flex-duration=600 data-flex-captionhorizontal=left data-flex-itemwidth=185
                             data-os-animation="none" data-os-animation-delay="0s">
                            <ul class="slides">
                                <li>
                                    <figure> <img width="400" height="200" src="assets/images/corporate/client1.png" class="attachment-full wp-post-image" alt="client1" data-original-title="Red-fan" data-toggle="tooltip" /> </figure>
                                </li>
                                <li>
                                    <figure> <img width="400" height="200" src="assets/images/corporate/client2.png" class="attachment-full wp-post-image" alt="client2" data-original-title="Freetax" data-toggle="tooltip" /> </figure>
                                </li>
                                <li>
                                    <figure> <img width="400" height="200" src="assets/images/corporate/client5.png" class="attachment-full wp-post-image" alt="client5" data-original-title="Remedia" data-toggle="tooltip" /> </figure>
                                </li>
                                <li>
                                    <figure> <img width="400" height="200" src="assets/images/corporate/client4.png" class="attachment-full wp-post-image" alt="client4" data-original-title="Streetway" data-toggle="tooltip" /> </figure>
                                </li>
                                <li>
                                    <figure> <img width="400" height="200" src="assets/images/corporate/client3.png" class="attachment-full wp-post-image" alt="client3" data-original-title="Scotex" data-toggle="tooltip" /> </figure>
                                </li>
                                <li>
                                    <figure> <img width="400" height="200" src="assets/images/corporate/client7.png" class="attachment-full wp-post-image" alt="client7" data-original-title="Moveit" data-toggle="tooltip" /> </figure>
                                </li>
                                <li>
                                    <figure> <img width="400" height="200" src="assets/images/corporate/client6.png" class="attachment-full wp-post-image" alt="client6" data-original-title="Redlex" data-toggle="tooltip" /> </figure>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </article>
{% endblock content %}