{% extends "public_base.twig" %}

{% block title %}{{ data.title }}{% endblock title %}

{% block content %}
    <article>
            <section class="section">
                <div class="background-media" style="background-image: url('assets/images/corporate/c01.jpg'); background-repeat:no-repeat; background-size:cover; background-attachment:fixed; background-position: 50% 0%;" data-start="background-position: 50% -31px"
                data-0-top-bottom="background-position: 50% 50px"></div>
                <div class="background-overlay grid-overlay-0" style="background-color: rgba(57,139,202,0.8);"></div>
                <div class="container">
                    <div class="row">
                        <div class="col-md-2 text-center"></div>
                        <div class="col-md-8 text-center">
                            <h1 class="element-top-70 text-light os-animation normal default" data-os-animation="fadeIn" data-os-animation-delay="0s">
                        Our Services
                    </h1>
                            <div class="divider-border divider-border-center element-top-10 element-bottom-10 os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.1s" style="height:3px;">
                                <div class="divider-border-inner" style="background:#ffffff; width:60px;"></div>
                            </div>
                            <p class="lead text-center center  text-light  element-bottom-70" data-os-animation="none" data-os-animation-delay="0s"> We help businesses and homeowners make their dreams come true. They dream it, we build it.
We specialise in many premium construction products like ones bellow. </p>
                        </div>
                        <div class="col-md-2"></div>
                    </div>
                </div>
            </section>
            <section class="section">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">

                        <p class="lead text-center center element-bottom-40 os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.2s">
                            </p>
                        <div class="list-container row element-bottom-50 os-animation" data-os-animation="fadeInUp" data-os-animation-delay="0.1s">
                            <div class="col-md-4 element-bottom-20 text-center os-animation" data-os-animation="fadeInUp" data-os-animation-delay="0.1s"> <span class="service-simple-image">
                                <img alt="Visualise" src="photos/hardwood.jpg">
                            </span>
                                <h2>Hardwood Floors</h2>
                                <p>Hardwood is an easy way to improve the look, durability and value of your home.</p>
                            </div>
                            <div class="col-md-4 element-bottom-20 text-center os-animation" data-os-animation="fadeInUp" data-os-animation-delay="0.2s"> <span class="service-simple-image">
                                <img alt="Research" src="photos/laminate.jpg">
                            </span>
                                <h2>Laminate</h2>
                                <p>Laminate flooring is a blend. It looks similar. like hardwood or bamboo but it's not. Yet it's not vinyl tiling and it's not engineered flooring.  On the other hand, it's a little of all of those things.</p>
                            </div>
                            <div class="col-md-4 element-bottom-20 text-center os-animation" data-os-animation="fadeInUp" data-os-animation-delay="0.3s"> <span class="service-simple-image">
                                <img alt="Develop" src="photos/bamboo.jpg">
                            </span>
                                <h2>Bamboo</h2>
                                <p>A bamboo floor is a type of flooring manufactured from the bamboo plant desirable for its exotic feel and looks.</p>
                            </div>
                             <div class="col-md-4 element-bottom-20 text-center os-animation" data-os-animation="fadeInUp" data-os-animation-delay="0.3s"> <span class="service-simple-image">
                                <img alt="Develop" src="photos/cork.jpg">
                            </span>
                                <h2>Cork</h2>
                                <p>Cork flooring is environmentally friendly and cork is considered a renewable and sustainable natural resource. These floors can be a little expensive ..but..Cork flooring is one of the most beautiful and comfortable floor material options available.</p>
                            </div>
                             <div class="col-md-4 element-bottom-20 text-center os-animation" data-os-animation="fadeInUp" data-os-animation-delay="0.3s"> <span class="service-simple-image">
                                <img alt="Develop" src="photos/linoleum.jpg">
                            </span>
                                <h2>Linoleum</h2>
                                <p> Linoleum flooring is made solely from raw, all-natural and biodegradable materials – including linseed oil, wood and cork flours and tree resin. For this reason, linoleum may be preferable to consumers who are environmentally conscious.</p>
                            </div>
                             <div class="col-md-4 element-bottom-20 text-center os-animation" data-os-animation="fadeInUp" data-os-animation-delay="0.3s"> <span class="service-simple-image">
                                <img alt="Develop" src="photos/vinyl.jpg">
                            </span>
                                <h2>Vinyl</h2>
                                <p>Vinyl flooring is a synthetic product, made of a combination of several chemicals,  as well as several additives .vinyl flooring is completely waterproof.</p>
                            </div>
                             <div class="col-md-4 element-bottom-20 text-center os-animation" data-os-animation="fadeInUp" data-os-animation-delay="0.3s"> <span class="service-simple-image">
                                <img alt="Develop" src="photos/porcelain.jpg">
                            </span>
                                <h2>Porcelain Tile</h2>
                                <p>It is fired at higher temperatures than regular ceramic tile, so it’s more dense, less porous, and shows better wear characteristics. 30% stronger than granite and resistant to staining, porcelain is also easier to clean, and offers superior wear and resistance.</p>
                            </div>
                             <div class="col-md-4 element-bottom-20 text-center os-animation" data-os-animation="fadeInUp" data-os-animation-delay="0.3s"> <span class="service-simple-image">
                                <img alt="Develop" src="photos/carpet.jpg">
                            </span>
                                <h2>Carpet</h2>
                                <p>Comforting, warm and welcoming ... it's easy to see why so many
people choose carpet to come home to. With a large selction, you're sure to find
carpet that works perfectly for you and your family.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </article>

{% endblock content %}

{% block extrajs %}{% endblock %}
