{% extends "public_base.twig" %}

{% block title %}{{ data.title }}{% endblock title %}

{% block content %}

<section class="section">
                <div class="background-media" style="background-image: url('assets/images/corporate/c01.jpg'); background-repeat:no-repeat; background-size:cover; background-attachment:fixed; background-position: 50% 0%;" data-start="background-position: 50% -31px"
                data-0-top-bottom="background-position: 50% 50px"></div>
                <div class="background-overlay grid-overlay-0" style="background-color: rgba(57,139,202,0.8);"></div>
                <div class="container">
                    <div class="row">
                        <div class="col-md-2 text-center"></div>
                        <div class="col-md-8 text-center">
                            <h1 class="element-top-70 text-light os-animation normal default" data-os-animation="fadeIn" data-os-animation-delay="0s">
                        Our Services
                    </h1>
                            <div class="divider-border divider-border-center element-top-10 element-bottom-10 os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.1s" style="height:3px;">
                                <div class="divider-border-inner" style="background:#ffffff; width:60px;"></div>
                            </div>
                            <p class="lead text-center center  text-light  element-bottom-70" data-os-animation="none" data-os-animation-delay="0s"> We are a corporate web design agency who are passionate with our pixels.
                                <br /> We specialise in WordPress development and we create pixel perfect themes. </p>
                        </div>
                        <div class="col-md-2"></div>
                    </div>
                </div>
            </section>
            <section class="section">
                <div class="background-overlay grid-overlay-0" style="background-color: rgba(0,0,0,0);"></div>
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="list-container row element-top-60 element-bottom-60 os-animation" data-os-animation="fadeIn" data-os-animation-delay="0s">
                                <div class="col-md-4 element-bottom-20 text-center os-animation" data-os-animation="fadeIn" data-os-animation-delay="0s"> <span class="service-simple-image">
                                <img src="assets/images/corporate/idea.png" alt="Visualise"/>
                            </span>
                                    <h2>
                                Visualise
                            </h2>
                                    <p> Lambda is ultra flexible and lets you create stunning pages easily for any kind of site out of the box. Get started now. </p>
                                </div>
                                <div class="col-md-4 element-bottom-20 text-center os-animation" data-os-animation="fadeIn" data-os-animation-delay="0s"> <span class="service-simple-image">
                                <img src="assets/images/corporate/research.png" alt="Research"/>
                            </span>
                                    <h2>
                                Research
                            </h2>
                                    <p> Lambda is ultra flexible and lets you create stunning pages easily for any kind of site out of the box. Get started now. </p>
                                </div>
                                <div class="col-md-4 element-bottom-20 text-center os-animation" data-os-animation="fadeIn" data-os-animation-delay="0s"> <span class="service-simple-image">
                                <img src="assets/images/corporate/development.png" alt="Develop"/>
                            </span>
                                    <h2>
                                Develop
                            </h2>
                                    <p> Basic search engine optimisation is fundamental. Lambda makes sure that your website will be always be accessible. </p>
                                </div>
                                <div class="col-md-4 element-bottom-20 text-center os-animation" data-os-animation="fadeIn" data-os-animation-delay="0s"> <span class="service-simple-image">
                                <img src="assets/images/corporate/time.png" alt="Time tracking"/>
                            </span>
                                    <h2>
                                Time tracking
                            </h2>
                                    <p> Lambda is ultra flexible and lets you create stunning pages easily for any kind of site out of the box. Get started now. </p>
                                </div>
                                <div class="col-md-4 element-bottom-20 text-center os-animation" data-os-animation="fadeIn" data-os-animation-delay="0s"> <span class="service-simple-image">
                                <img src="assets/images/corporate/market.png" alt="Campaign marketing"/>
                            </span>
                                    <h2>
                                Campaign marketing
                            </h2>
                                    <p> Want to make a shop that stands out from the crowd? Lambda works seamlessly with WooCommerce so you start selling now. </p>
                                </div>
                                <div class="col-md-4 element-bottom-20 text-center os-animation" data-os-animation="fadeIn" data-os-animation-delay="0s"> <span class="service-simple-image">
                                <img src="assets/images/corporate/seo.png" alt="Search optimisation"/>
                            </span>
                                    <h2>
                                Search optimisation
                            </h2>
                                    <p> No need to worry about building your content anymore! Pages can be built easily using the Visual Composer plugin. </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="section">
                <div class="background-overlay grid-overlay-0"></div>
                <div class="container">
                    <div class="row">
                        <div class="col-md-12"></div>
                    </div>
                </div>
            </section>
            <section class="section">
                <div class="background-overlay grid-overlay-0" style="background-color: rgba(183,183,183,0.1);"></div>
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <h1 class="text-center element-top-70 os-animation big default" data-os-animation="fadeIn" data-os-animation-delay="0s">
                        Pricing plans
                    </h1>
                            <div class="divider-border divider-border-center element-top-10 element-bottom-10 os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.1s" style="height:3px;">
                                <div class="divider-border-inner" style="width:60px;"></div>
                            </div>
                            <p class="lead text-center center element-bottom-40 os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.2s"> First get everything at the lowest price of the market.
                                <br />Simple pricing structure that can scale up. </p>
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="element-top-20 element-bottom-20 pricing-col os-animation" data-os-animation="fadeIn" data-os-animation-delay="0s">
                                        <h2 class="pricing-head" style="background: #ffffff; color:#333333">
                                    Basic
                                </h2>
                                        <div class="pricing-body" style="background: #ffffff; color:#333333">
                                            <div class="pricing-price">
                                                <header style="background: #a8a8a8; color: #ffffff;">
                                                    <h2>
                                                <small style="color: #ffffff;">$</small>
                                                9.99
                                            </h2>
                                                    <p style="color: #ffffff;"></p>
                                                </header>
                                            </div>
                                            <ul class="pricing-list">
                                                <li style="border-color: rgba(51,51,51,0.1)">1 user</li>
                                                <li style="border-color: rgba(51,51,51,0.1)">2 hours</li>
                                                <li style="border-color: rgba(51,51,51,0.1)">10 Megabytes</li>
                                                <li style="border-color: rgba(51,51,51,0.1)">100 SMS</li>
                                            </ul> <a href="" class="btn btn-lg btn-primary" style="background: #a8a8a8; color: #ffffff;">get it</a> </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class=" element-top-20 element-bottom-20 pricing-col pricing-featured os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.3s">
                                        <h2 class="pricing-head" style="background: #ffffff; color:#333333">
                                    Silver
                                </h2>
                                        <div class="pricing-body" style="background: #ffffff; color:#333333">
                                            <div class="pricing-price">
                                                <header style="background: #388AC9; color: #ffffff;">
                                                    <h2>
                                                <small style="color: #ffffff;">$</small>
                                                19.99
                                            </h2>
                                                    <p style="color: #ffffff;"></p>
                                                </header>
                                            </div>
                                            <ul class="pricing-list">
                                                <li style="border-color: rgba(51,51,51,0.1)">10 users</li>
                                                <li style="border-color: rgba(51,51,51,0.1)">24 hours</li>
                                                <li style="border-color: rgba(51,51,51,0.1)">100 Megabytes</li>
                                                <li style="border-color: rgba(51,51,51,0.1)">1000 SMS</li>
                                            </ul> <a href="" class="btn btn-lg btn-primary" style="background: #388AC9; color: #ffffff;">get it</a> </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="element-top-20 element-bottom-100 pricing-col os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.6s">
                                        <h2 class="pricing-head" style="background: #ffffff; color:#333333">
                                    Gold
                                </h2>
                                        <div class="pricing-body" style="background: #ffffff; color:#333333">
                                            <div class="pricing-price">
                                                <header style="background: #a8a8a8; color: #ffffff;">
                                                    <h2>
                                                <small style="color: #ffffff;">$</small>
                                                29.99
                                            </h2>
                                                    <p style="color: #ffffff;"></p>
                                                </header>
                                            </div>
                                            <ul class="pricing-list">
                                                <li style="border-color: rgba(51,51,51,0.1)">100 users</li>
                                                <li style="border-color: rgba(51,51,51,0.1)">200 hours</li>
                                                <li style="border-color: rgba(51,51,51,0.1)">10 Gigabytes</li>
                                                <li style="border-color: rgba(51,51,51,0.1)">Unlimited SMS</li>
                                            </ul> <a href="" class="btn btn-lg btn-primary" style="background: #a8a8a8; color: #ffffff;">get it</a> </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class=" element-top-20 element-bottom-100 pricing-col os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.9s">
                                        <h2 class="pricing-head" style="background: #ffffff; color:#333333">Platinum</h2>
                                        <div class="pricing-body" style="background: #ffffff; color:#333333">
                                            <div class="pricing-price">
                                                <header style="background: #a8a8a8; color: #ffffff;">
                                                    <h2>
                                                <small style="color: #ffffff;">$</small>
                                                29.99
                                            </h2>
                                                    <p style="color: #ffffff;"></p>
                                                </header>
                                            </div>
                                            <ul class="pricing-list">
                                                <li style="border-color: rgba(51,51,51,0.1)">100 users</li>
                                                <li style="border-color: rgba(51,51,51,0.1)">200 hours</li>
                                                <li style="border-color: rgba(51,51,51,0.1)">10 Gigabytes</li>
                                                <li style="border-color: rgba(51,51,51,0.1)">Unlimited SMS</li>
                                            </ul> <a href="" class="btn btn-lg btn-primary" style="background: #a8a8a8; color: #ffffff;">get it</a> </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="section">
                <div class="background-overlay grid-overlay-0"></div>
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <h1 class="text-center element-top-70 os-animation big default" data-os-animation="fadeIn" data-os-animation-delay="0s">
                        Our Mission
                    </h1>
                            <div class="divider-border divider-border-center element-top-10 element-bottom-10 os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.1s" style="height:3px;">
                                <div class="divider-border-inner" style="background:#388AC9; width:60px;"></div>
                            </div>
                            <p class="lead text-center center element-bottom-40 os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.2s"> To perform for our customers, the highest level of quality craftsmanship at competitive prices. To ensure the longevity of our company through repeat and referral business achieved by customer satisfaction in all areas including timelines, attention to detail and service-minded attitudes. To maintain the highest levels of professionalism, integrity, honesty and fairness in our relationships with our suppliers, contractors, homeowners and professional associates.</p>
                            <div class="row">
                                <div class="col-md-6">
                                    <ul class="features-list element-top-90 element-bottom-20" data-os-animation="none" data-os-animation-delay="0s">
                                        <li class="element-top-20 element-bottom-20 os-animation" data-os-animation="fadeInLeft" data-os-animation-delay="0s">
                                            <div class="features-list-icon box-animate" data-animation="" style="background-color:#388AC9;"> <i class="icon-heart" style="color:#ffffff;"></i> </div>
                                            <h3>
                                        Awesome design
                                    </h3>
                                            <p> Lambda is designed with attention to details. Our intention is to create a theme that would to look cool and awesome. </p>
                                        </li>
                                        <li class="element-top-20 element-bottom-20 os-animation" data-os-animation="fadeInLeft" data-os-animation-delay="0.1s">
                                            <div class="features-list-icon box-animate" data-animation="" style="background-color:#388AC9;"> <i class="icon-map" style="color:#ffffff;"></i> </div>
                                            <h3>
                                        Ultra flexible
                                    </h3>
                                            <p> Lambda is ultra flexible and lets you create stunning pages easily for any kind of site out of the box. Get started now. </p>
                                        </li>
                                        <li class="element-top-20 element-bottom-20 os-animation" data-os-animation="fadeInLeft" data-os-animation-delay="0.2s">
                                            <div class="features-list-icon box-animate" data-animation="" style="background-color:#388AC9;"> <i class="icon-cloud" style="color:#ffffff;"></i> </div>
                                            <h3>
                                        SEO optimised
                                    </h3>
                                            <p> Basic search engine optimisation is fundamental. Lambda makes sure that your website will be always be accessible. </p>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-md-6">
                                    <ul class="features-list element-top-90 element-bottom-20" data-os-animation="none" data-os-animation-delay="0s">
                                        <li class="element-top-20 element-bottom-20 os-animation" data-os-animation="fadeInRight" data-os-animation-delay="0s">
                                            <div class="features-list-icon box-animate" data-animation="" style="background-color:#388AC9;"> <i class="icon-monitor" style="color:#ffffff;"></i> </div>
                                            <h3>
                                        Responsive design
                                    </h3>
                                            <p> Lambda is designed to look cool on any device from mobile and tablets to desktop computers and also on retina screens. </p>
                                        </li>
                                        <li class="element-top-20 element-bottom-20 os-animation" data-os-animation="fadeInRight" data-os-animation-delay="0.1s">
                                            <div class="features-list-icon box-animate" data-animation="" style="background-color:#388AC9;"> <i class="icon-repeat" style="color:#ffffff;"></i> </div>
                                            <h3>
                                        Free updates
                                    </h3>
                                            <p> With Lambda you get a free updates forever. Improvements and features will be added to make the theme future proof. </p>
                                        </li>
                                        <li class="element-top-20 element-bottom-90 os-animation" data-os-animation="fadeInRight" data-os-animation-delay="0.1s">
                                            <div class="features-list-icon box-animate" data-animation="" style="background-color:#388AC9;"> <i class="icon-eye" style="color:#ffffff;"></i> </div>
                                            <h3>
                                        Stunning pages
                                    </h3>
                                            <p> Create stunning pages which look great on any device. Clean HTML5 and CSS, beautifully coded &amp; loads of features. </p>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="section">
                <div class="background-media" style="background-image: url(''); background-repeat:no-repeat; background-size:cover; background-attachment:scroll; background-position: 50% 0%;"></div>
                <div class="background-overlay grid-overlay-0" style="background-color: rgba(57,139,202,0.8);"></div>
                <div class="container">
                    <div class="row">
                        <div class="col-md-1"></div>
                        <div class="col-md-10">
                            <div id="flexslider-789" class="element-top-80 element-bottom-80 text-center text-light os-animation flexslider feature-slider" data-os-animation="fadeIn" data-os-animation-delay="0s" data-flex-animation="slide" data-flex-controls-position="outside"
                            data-flex-controlsalign="center" data-flex-directions="hide" data-flex-speed="7000" data-flex-controls="show" data-flex-slideshow="true">
                                <ul class="slides">
                                    <li>
                                        <blockquote>
                                            <p> This theme is super easy to customise and the support team is just awesome. They helped me add a few design and styling changes and guided me to customise my theme. They were very knowledgable and fast. Thanks
                                                again! This is the best theme and support money can buy! </p>
                                            <div class="box box-small box-round">
                                                <div class="box-dummy"></div>
                                                <div class="box-inner"> <img width="150" height="150" src="assets/images/corporate/team16-notinclude.jpg" alt="team16-notinclude" /> </div>
                                            </div>
                                            <footer> Lisa Hughes <cite title="Technolab">Technolab</cite> </footer>
                                        </blockquote>
                                    </li>
                                    <li>
                                        <blockquote>
                                            <p> After purchasing all of the top rated theme I find this theme to be the most intuitive. Everything is right where it's supposed to be and makes use of the best plugin combinations I have ever seen. Truly, there
                                                are no words to describe how happy I am with this theme! Recommended </p>
                                            <div class="box box-small box-round">
                                                <div class="box-dummy"></div>
                                                <div class="box-inner"> <img width="150" height="150" src="assets/images/corporate/team15-notinclude.jpg" alt="team15-notinclude" /> </div>
                                            </div>
                                            <footer> Marie Clark <cite title="Streetdax">Streetdax</cite> </footer>
                                        </blockquote>
                                    </li>
                                    <li>
                                        <blockquote>
                                            <p> This Theme is just awesome. It is so easy to create a gorgeous looking sites. I would also like to mention their excellent and superfast support. It never took more than 2-3hours to have the correct solution.
                                                I'm going to buy more themes of them, sure! Keep up the good work. </p>
                                            <div class="box box-small box-round">
                                                <div class="box-dummy"></div>
                                                <div class="box-inner"> <img width="150" height="150" src="assets/images/corporate/team13-notinclude.jpg" alt="team13-notinclude" /> </div>
                                            </div>
                                            <footer> Scott Adams <cite title="Trisbam">Trisbam</cite> </footer>
                                        </blockquote>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-1"></div>
                    </div>
                </div>
            </section>
        </article>

{% endblock content %}

{% block extrajs %}{% endblock %}
