{% extends "public_base.twig" %}

{% block title %}{{ data.title }}{% endblock title %}

{% block content %}

<article>


    <section class="section text-light">
        <div class="background-overlay" style="background-color: rgba(48,60,64,1);"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="text-center element-top-70 element-bottom-40 os-animation big hairline" data-os-animation="fadeIn" data-os-animation-delay="0s">
                        Testimonials</h1>
                    <div class="element-top-20 element-bottom-70 text-center os-animation flexslider feature-slider" data-flex-animation="slide" data-flex-controls="show" data-flex-controls-position="outside" data-flex-controlsalign="center"
                         data-flex-directions="hide" data-flex-slideshow="true" data-flex-speed="7000" data-os-animation="fadeIn" data-os-animation-delay="0s" id="flexslider-35">
                        <ul class="slides">
                            <li>
                                <blockquote>
                                    <p>This theme is super easy to customise and the support team is just awesome. They helped me add a few design and styling changes and guided me to customise my theme. They were very knowledgable and fast. Thanks
                                        again! This is the best theme and support money can buy!</p>
                                    <div class="box box-small box-round">
                                        <div class="box-dummy"></div>
                                        <div class="box-inner"><img alt="team16-notinclude" class="attachment-thumbnail" height="150" src="assets/images/corporate/team16-notinclude.jpg" width="150"></div>
                                    </div>
                                    <footer> Lisa Hughes <cite title="Technolab">Technolab</cite> </footer>
                                </blockquote>
                            </li>
                            <li>
                                <blockquote>
                                    <p>After purchasing all of the top rated theme I find this theme to be the most intuitive. Everything is right where it's supposed to be and makes use of the best plugin combinations I have ever seen. Truly, there
                                        are no words to describe how happy I am with this theme! Recommended</p>
                                    <div class="box box-small box-round">
                                        <div class="box-dummy"></div>
                                        <div class="box-inner"><img alt="team15-notinclude" class="attachment-thumbnail wp-post-image" height="150" src="assets/images/corporate/team15-notinclude.jpg" width="150"></div>
                                    </div>
                                    <footer> Marie Clark <cite title="Streetdax">Streetdax</cite> </footer>
                                </blockquote>
                            </li>
                            <li>
                                <blockquote>
                                    <p>This Theme is just awesome. It is so easy to create a gorgeous looking sites. I would also like to mention their excellent and superfast support. It never took more than 2-3hours to have the correct solution.
                                        I'm going to buy more themes of them, sure! Keep up the good work.</p>
                                    <div class="box box-small box-round">
                                        <div class="box-dummy"></div>
                                        <div class="box-inner"><img alt="team13-notinclude" class="attachment-thumbnail wp-post-image" height="150" src="assets/images/corporate/team13-notinclude.jpg" width="150"></div>
                                    </div>
                                    <footer> Scott Adams <cite title="Trisbam">Trisbam</cite> </footer>
                                </blockquote>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="background-overlay" style="background-color: rgba(48,60,64,0);"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="text-center element-top-70 element-bottom-40 text-normal os-animation big hairline" data-os-animation="fadeIn" data-os-animation-delay="0s">
                        All Testimonials</h1>
                    <div class="list-container row element-top-20 element-bottom-70">
                        <div class="col-md-6">
                            <blockquote class="blockquote-list">
                                <div class="box box-small box-round">
                                    <div class="box-dummy"></div>
                                    <div class="box-inner"><img alt="team16-notinclude" class="attachment-thumbnail" height="150" src="assets/images/corporate/team16-notinclude.jpg" width="150"></div>
                                </div>
                                <p>This theme is super easy to customise and the support team is just awesome. They helped me add a few design and styling changes and guided me to customise my theme. They were very knowledgable and fast. Thanks again!
                                    This is the best theme and support money can buy!</p>
                                <footer> Lisa Hughes <cite title="Source Title">Technolab</cite> </footer>
                            </blockquote>
                        </div>
                        <div class="col-md-6">
                            <blockquote class="blockquote-list">
                                <div class="box box-small box-round">
                                    <div class="box-dummy"></div>
                                    <div class="box-inner"><img alt="team15-notinclude" class="attachment-thumbnail wp-post-image" height="150" src="assets/images/corporate/team15-notinclude.jpg" width="150"></div>
                                </div>
                                <p>After purchasing all of the top rated theme I find this theme to be the most intuitive. Everything is right where it's supposed to be and makes use of the best plugin combinations I have ever seen. Truly, there
                                    are no words to describe how happy I am with this theme! Recommended</p>
                                <footer> Marie Clark <cite title="Source Title">Streetdax</cite> </footer>
                            </blockquote>
                        </div>
                        <div class="col-md-6">
                            <blockquote class="blockquote-list">
                                <div class="box box-small box-round">
                                    <div class="box-dummy"></div>
                                    <div class="box-inner"><img alt="team13-notinclude" class="attachment-thumbnail wp-post-image" height="150" src="assets/images/corporate/team13-notinclude.jpg" width="150"></div>
                                </div>
                                <p>This Theme is just awesome. It is so easy to create a gorgeous looking sites. I would also like to mention their excellent and superfast support. It never took more than 2-3hours to have the correct solution. I'm
                                    going to buy more themes of them, sure! Keep up the good work.</p>
                                <footer> Scott Adams <cite title="Source Title">Trisbam</cite> </footer>
                            </blockquote>
                        </div>
                        <div class="col-md-6">
                            <blockquote class="blockquote-list">
                                <div class="box box-small box-round">
                                    <div class="box-dummy"></div>
                                    <div class="box-inner"><img alt="team11-notinclude" class="attachment-thumbnail wp-post-image" height="150" src="assets/images/corporate/team11-notinclude.jpg" width="150"></div>
                                </div>
                                <p>This theme has everything designed to help anyone build an awesome site. I purchased many themes, found that most were limited to get you what you wanted in appearance without out purchasing additional plugins.
                                    This theme has it all! Worth every penny! Thank you guys.</p>
                                <footer> Matthew Rodriguez <cite title="Source Title">U-house</cite> </footer>
                            </blockquote>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</article>

{% endblock content %}

{% block extrajs %}{% endblock %}
